/* This will contain my styling for the colour picker */

html {
    background-color:cornflowerblue;
}

body {
    margin: 15px;
}

/* grid gap will be 15 px in future */

/* targetting the main palette container aswell as all of the elements within this container with setting box-sizing as border box, this is easier to set this within the palette container */
.art-palette
.art-palette * {
   box-sizing: border-box;
}