/* This will contain my styling for the colour picker */

html {
    background-color:cornflowerblue;
}

body {
    margin: 15px;
}

/* grid gap will be 15 px in future */

/* targetting the main palette container aswell as all of the elements within this container with setting box-sizing as border box, this is easier to set this within the palette container */
.art-palette
.art-palette * {
   box-sizing: border-box;
}

/* then targetting the art-palette container individually */
/* this will include the font styling and displaying as grid with a gap and the setting of grid columns */

.art-palette{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* styling for colour box to appear */
.show-palette-colour{
    /* this will really showcase the colour with a decent height */
    height: 150px;
    background-color: darkmagenta;
    /* to position relative so that the text will be absolute */
    position: relative;
}

/* now to styling up the main text above the colour by targetting the description class */

.palette-text{
    padding: 10px;
    position: absolute;
    /* left zero and right zero so that it gets positioned on the bottom left corner of the colour palette element */
    left: 0;
    bottom: 0;
    width: 100;
    /* this is to have the background for a darker shade around text */
    background-color: rgba(0, 0, 0, 0.4);
    color: #aaf0d1;
}

color-input{
    width: 100;
}
