/* This will contain my styling for the colour picker */

html {
    background-color:cornflowerblue;
}

body {
    margin: 15px;
}

/* grid gap will be 15 px in future */

/* targetting the main palette container aswell as all of the elements within this container with setting box-sizing as border box, this is easier to set this within the palette container */
.art-palette
.art-palette * {
   box-sizing: border-box;
}

/* then targetting the art-palette container individually */
/* this will include the font styling and displaying as grid with a gap and the setting of grid columns */

.art-palette{
    font-family: Arial, Helvetica, sans-serif;
    display: grid
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}